.DS_Store

# Node
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
backend/.env

# Local database
backend/data/*.db

# Build outputs
frontend/dist

# Generated static content (will be committed by GitHub Actions)
# frontend/public/data/news.json
# frontend/public/thumbs/
